# This file should be renamed config.py and real values populated

config = {
  # SQLAlchemy connection string
  "db": "dialect+driver://username:password@host:port/database"
  "tables_prefix": "prefix_",
  "max_multi_responses":3,
  # If defined, only reflect these tables
  # "tables_to_include": ["prefix_table1", "prefix_table2"],
  "azure_ad":{
    "tenant_name":"tenant.onmicrosoft.com",
    "app_id":"https://company.ca/187man2a-edg9-1d3f-b87c-j989a20baaa0"
  }
}
