# This file should be renamed config.py and real values populated

config = {
  # SQLAlchemy connection string
  "db": "dialect+driver://username:password@host:port/database",
  "max_multi_responses":3,
  "azure_tenant":"tenant.onmicrosoft.com",
  "azure_app_id":"https://company.ca/187man2a-edg9-1d3f-b87c-j989a20baaa0"
}